.Students {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    width: 50vw;
    gap: 1%;
}

.Students > h1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.Students > li{ 
    border: green solid 1px;
    text-align: center;
    list-style-type: none;
    padding: 2% 10%;
}

.Bio {
text-align: left;
}