.uList {
    list-style: none;
    text-align: center;
}
img {
    width: 8em;
}

li {
    width: 150px;
    border: 1px solid green;
    margin: 5px;
}

.studentCards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: ;
}