.teacher-form {
    grid-area: rightB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}