.app{
    display: grid;
    grid-template-columns: 50vw 300vw;

   
}
.Students{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 4vw;
}
.columnTwo{
    grid-column:2; 
    margin-left: 2vw;
}